# Java
target/
*.class
*.jar

# Node
node_modules/
dist/
.vite/

# IDEs
.idea/
.vscode/
*.iml

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Docker override
docker-compose.override.yml

# Logs
*.log
